* {
    margin: 0;
    padding: 0;
}
html { 
    height:100%;
}
body {
    min-height:100%; max-height:100%;
}

.content {
    height: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonbar {
    padding: 5px;
    height: 40px;
    max-width: 100%;
    margin: 5px;
    border-style: inset;
    border-width: thin;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    height: 50px;
    line-height: 50px;
}

.footer {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.sideBar {
    text-align: center;
    height: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-button {
    margin:5px;
    padding: 5px;
}

.flex-container {
    display: flex;
    height: 90vh;
    margin: 5px;
    border-style: inset;
    border-width: thin;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-column {
    flex: 1;
    padding: 5px;
    border-style: inset;
    border-width: thin;
    border-color: black;
}


.fixed-column {
    width: 200px;
    padding: 5px;
}

.textarea_target {
box-sizing: border-box; 
height:98%;
border-style: inset;
border-width: thin;
padding:10px;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color:yellow;
}