@page "/"
@model POJSShell.Pages.FlexGridListOutputModel
@{
    ViewData["Title"] = "FlexGridListOutput";
    Layout = "~/Pages/Shared/_LayoutListOutput.cshtml";
}

<div class="buttonbar">
    <input type="button" value="clickme" class="buttonbar-button" onclick="pojs_outstrd('buttonbar-button');"/>
    flexgridlistoutput button bar goes here.  buttons and status text.  change the height in css or override here in style if you need to.
</div>
<div class="flex-container">
    <div class="fixed-column container sideBar">
        <input type="button" value="jsclick" class="sidebar-button" onclick="pojs_outstrd('onclick');" /><br />
        <input type="button" value="no date" class="sidebar-button" onclick="pojs_outstr('onclick nodate version');"/><br />
        <input type="button" value="clickme" class="sidebar-button" onclick="pojs_outstrd('onclick');"/><br />
        <input type="button" value="clickme" class="sidebar-button" onclick="pojs_outstrd('onclick');"/><br />
        <input type="button" value="clear" class="sidebar-button" onclick="pojs_clear();"/><br />
    </div>
    <div class="flex-column">
        <div class="flex-container" style="border:none;">
            <textarea id="textarea_target" class="textarea_target" style="border:0; width:100%;">
one
two
three 
four
        </textarea>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/pojs.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        pojs_init(textarea_target);
    })
</script>