@page "/"
@model POJSShell.Pages.ListOutputModel
@{
    ViewData["Title"] = "ListOutput";
    Layout = "~/Pages/Shared/_LayoutListOutput.cshtml";
}


<div style="width:100%; margin:20px; border-style:inset; border-width:thick; border-color:black;">button bar goes here</div>
<div style="margin:20px;width:100%; border-style:inset; border-width:thick; border-color:blue;">
    <div style="float:left; margin:5px; padding:5px; width:100px; border-style:inset; border-width:thick; border-color:red;">sideBar</div>
    <div style="margin:5px; border-style:inset; border-width:thick; border-color:green;">content</div>
</div>